{% extends 'base.html' %}
{% block title %}Assignments Page{% endblock %}
{% block assignments_active %}active{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1>Course Work Page</h1><br>
			<div class="col-md-10">
				<h2>{{ module.module_name }}</h2>
				<p>{{ module.module_date }}</p><br>
				{% if module.coursework_set.all %}
					{% for course_Work in module.coursework_set.all %}
					<ul><li><a href="{{ course_Work.courseWork_file.url }}" download>{{ course_Work.courseWork_title }}</a></li></ul>
					{% endfor %}
				{% else %}
					<h3>No coarse work avaliable!</h3>
				{% endif %}
			</div>
			<div class="col-md-2">
				<a href="{% url 'courseWork-create' module.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span></a>
				<a href="{% url 'module-delete' module.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</div>
	</div>
{% endblock %}