{% load staticfiles %}
<div class="col-md-2">
	<div class="thumbnail">
		{% if user.profile.profile_image %}
			<img src="{{ user.profile.profile_image.url }}">
			{% else %}
				<img src="{% static 'img/default-profile-image.png' %}">
		{% endif %}
	</div>
</div>
<div class="col-md-2">
	<h3 class="obj-title">{{ user.username|title }}</h3>
	<p class="obj-default">{{ user.first_name }} {{ user.last_name }}</p>
	<p class="obj-default">{{ user.profile.location }}</p>
	<p class="obj-default">{{ user.email }}</p>
	<p class="obj-date">{{ user.date_joined|date:"Y/M" }}</p>
	<p class="obj-desc">{{ user.profile.bio }}</p>
</div>

