{% extends 'base.html' %}
{% block title %}{{ user|title }} Profile Page{% endblock %}
{% block user_active %}active{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" style="display: inline-block;">{% if request.user == user %}Your {% else %}{{ user.username|pluralize }}{% endif %}Profile</h3>
				{% if request.user == user %}
					<div class="btn-group panel-btn-group">
						<a href="">
							<button class="btn btn-default panel-btn">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</a>
					</div>
				{% endif %}
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div class="col-md-5">
						<div class="thumbnail">
							<img src="{{ profile.profile_image.url }}">
							<div class="caption">
								<h3 class="obj-title">{{ user.username|title }}</h3>
								<p class="obj-default">{% if user.first_name %}{{ user.first_name }}{% endif %}{% if user.last_name %}{{ user.last_name }}{% endif %}</p>
								<p class="obj-default">{{ user.email }}</p>
								<p class="obj-date">{{ user.date_joined|date:"Y/M" }}</p>
								<p class="obj-desc">{{ profile.bio }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<a href="#">Change profile information?</a><br>
					<a href="{% url 'auth_password_change' %}">Change password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}