{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}
  <div class="container" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="login-form">
    			<div class="login-container-title">
    				<h2 class="login-title">Registration</h2>
    			</div>
    			<div class="login-container-content">
        		<form method="post" action=".">
  			{% csrf_token %}
  			{{ form|crispy }}

        
  			<input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
  			</form>
  		</div>
    </div>
  </div>
{% endblock %}
