{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Gallery Images{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block content %}
	<div id="grey-overlay"></div> 
	<div id="detailImageContainer" class="col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10">
				<div class="thumbnail" id="imageDetailThumbnail" style="height: auto;">
					<div class="btn btn-default btn-xs hidden-sm hidden-md hidden-lg" onclick="closeImage();" href=""><span class="glyphicon glyphicon-remove"></span></div>
					<div class="btn btn-default hidden-xs" onclick="closeImage();" href=""><span class="glyphicon glyphicon-remove"></span></div>
					<img style="opacity: 1;" id="imgContainer" src="">
					<div class="caption">
						<a class="deleteButton" href="">
							<div class="btn btn-default btn-xs hidden-sm hidden-md hidden-lg">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</div>
						</a>
						<a class="deleteButton" href="">
							<div class="btn btn-default hidden-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</div>
						</a>
						<h2 id="imgContainerTitle"></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="panel panel-default" style="padding-right: 0;padding-left: 0; margin-right: 0; margin-right: 0;">
					<div class="panel-heading" style="padding: 0 0 0 15px;">
						{% if gallery %}
							<h3 class="panel-title" style="display: inline-block;">{{ gallery.gallery_title }}</h3>
						
						<div class="btn-group panel-btn-group">
							<a>
								<button class="btn btn-default panel-btn" onClick='confirmDelete("{{ gallery.gallery_title }}")'>
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</a>
							<a href="{% url 'gallerys:gallery-update' gallery.slug %}">
								<button class="btn btn-default panel-btn">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</a>
							{% if user.is_superuser %}
								{% if gallery.is_favorite %}
									<a href="{% url 'gallerys:favorite' gallery.slug %}">
										<button class="btn btn-default panel-btn">
											<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
										</button>
									</a>
								{% else %}
									<a href="{% url 'gallerys:favorite' gallery.slug %}">
										<button class="btn btn-default panel-btn">
											<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
										</button>
									</a>
								{% endif %}
							{% endif %}
						</div>
						{% else %}
							<h3 class="panel-title" style="display: inline-block;">Gallery not found</h3>
						{% endif %}
					</div>
					<div class="panel-body">
						<div class="col-md-12">
							{% if gallery %}
								<div class="thumbnail">
								 	<img style="height: auto;" src="{{ gallery.gallery_image.url }}" alt="...">
								 	<div class="caption">
						        		<h3>{{ gallery.gallery_title }}</h3>
						        		<p>{{ gallery.gallery_date }}</p>
						        		<p>{{ gallery.gallery_description }}</p>
						      		</div>
						      	</div>
								{% else %}
									<h3>No gallery!</h3>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="panel panel-default" style="padding-right: 0;padding-left: 0; margin-right: 0; margin-right: 0;">
					<div class="panel-heading" style="padding: 0 0 0 15px;">
						<h3 class="panel-title" style="display: inline-block;">Images</h3>
						<div class="btn-group panel-btn-group">
							{% if gallery.user == request.user %}
								{% if gallery %}
									<div>
										<a href="{% url 'gallerys:image-add' gallery.slug %}">
											<button class="btn btn-default panel-btn">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
											</button>
										</a>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="panel-body">
						{% if gallery.image_set.all %}
							<div class="row row-fix">
							{% for image in gallery.image_set.all %}
								<div class="col-xs-6 col-sm-6 col-md-6">
									<div onclick='viewImage(this, "{{ image.image_title }}"); deleteButton("{{ image.id }}", "{{ gallery.slug }}");' class="thumbnail">
								 		<img class="detailimg" src="{{ image.image_image.url }}" alt="..." style="width: auto;">
							      	</div>
								</div>
								{% cycle "" "</div><div class='row row-fix'>" %}
							{% endfor %}
						{% else %}
							<h3>No images added yet!</h3>
						{% endif %}
					</div>
				</div>
			
		</div>
	</div>
	

	{% include 'gallery/galleryConfirmDelete.html' %}

	<script type="text/javascript">
		
		function deleteButton(image_id, gallery_slug) {
			var deleteButton = document.getElementsByClassName("deleteButton");
			var url = "{% url 'gallerys:image-delete' 0 999 %}";

			url = url.replace('0', gallery_slug);
			url = url.replace('999', image_id);
			deleteButton[0].href = url;
			deleteButton[1].href = url;
		}

	</script>

{% endblock %}