{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Featured Page{% endblock %}
{% block featured_active %}active{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
	<div class="row">
		<div class="col-md-offset-9 col-md-3 col-sm-offset-6 col-sm-6">
			<form role="search" action="{% url 'gallery-search-list-view' %}" method="GET" accept-charset="utf-8">
				<div class="input-group">
					<input class="form-control" name="q" type="text" placeholder="Search">
					<div class="input-group-btn"><button class="btn btn-primary" type="submit">submit</button></div>
				</div>
			</form>
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" style="padding-right: 0;padding-left: 0; margin-right: 0; margin-right: 0;">
				<div class="panel-heading" style="padding: 0 0 0 15px;">
					<h3 class="panel-title" style="display: inline-block;">Featured Gallery's</h3>
					<div class="btn-group panel-btn-group">
						<a href="{% url 'gallerys:gallery-add' %}">
							<button class="btn btn-default panel-btn">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</a>
					</div>
				</div>
				<div class="panel-body">
					{% if object_list %}
						<div class="row row-fix">
						{% for gallery in object_list %}
							<div class="col-sm-4 col-md-4">	
								<div class="thumbnail">
								 	<a href="{% url 'gallerys:detail' gallery.id %}"><img src="{{ gallery.gallery_image.url }}" alt="Missing image for - {{ gallery.gallery_title }}"></a>
								 	<div class="caption">
						        		<h3>{{ gallery.gallery_title }}</h3>
						        		<p>{{ gallery.gallery_date|timesince }} ago</p>
						        		<p>{{ gallery.gallery_description }}</p>
						        		<p>
						        			{% if user.is_superuser %}
						        				{% if gallery.is_favorite %}
														<a href="{% url 'gallerys:favorite' gallery.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star"></span></a>
													{% else %}
														<a href="{% url 'gallerys:favorite' gallery.id %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-star-empty"></span></a>
													{% endif %}
						        			{% endif %}
						        		</p>
						      		</div>
								</div>
							</div>
							{% cycle "" "" "</div><div class='row row-fix'>" %}
						{% endfor %}
						</div>
					{% else %}
						<h3>No gallery</h3>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
   
      
      
    
  
