{% if gallery %}
	<div id="whiteContainer" style="display: none;">
		<div id="confirmDeleteContainer" style="display: none;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 id="confirmDeleteTitle" class="panel-title"></h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<p>Do you want to delete the following object?</p><br>
						<div class="btn-group" role="group" aria-label="...">
							<button onClick="cancelDelete()" class="btn btn-default">
								Cancel
							</button>
							<a href="{% url 'gallerys:gallery-delete' gallery.slug %}">
								<button  class="btn btn-danger">
										Delete
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}