{% extends 'userProfile/base.html' %}
{% load staticfiles %}
{% block title %}{{ user|title }} Gallery Page{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block profile_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				{% if user.id == request.user.id %}
					<a href="{% url 'gallerys:gallery-add' user %}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% include 'gallery/all_gallery.html' %}
		</div>
	</div>
{% endblock %}


  
   
      
      
    
  
