{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user|title }} Gallery Page{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 50px;">
	<div class="row row-fix">
		<div class="col-md-3">
			<div class="panel panel-default" >
				<div class="panel-heading" style="padding: 0 0 0 15px;">
					<h3 class="panel-title" style="display: inline-block;">{{ user|title }} Profile</h3>
				</div>
				<div class="panel-body">
					<div class="row row-fix">
						<h1>content</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div class="panel panel-default" style="padding-right: 0;padding-left: 0; margin-right: 0; margin-right: 0;">
				<div class="panel-heading" style="padding: 0 0 0 15px;">
					<h3 class="panel-title" style="display: inline-block;">{{ user|title }} Gallery's</h3>
				</div>
				<div class="panel-body">
					<div class="row row-fix">
						{% if all_gallery %}
							{% for gallery in all_gallery%}
								<div class="col-sm-4 col-md-4">	
									<div class="thumbnail">
									 	<a href="{% url 'gallerys:user-gallery-detail' user gallery.slug %}"><img class="img-responsive" src="{{ gallery.gallery_image.url }}" alt="Missing image for - {{ gallery.gallery_title }}"></a>
									 	<div class="caption">
							        		<h3 class="obj-title">{{ gallery.gallery_title|title }}</h3>
							        		<p class="obj-date">{{ gallery.gallery_date|timesince }} ago</p>
							        		<p class="obj-date">{{ gallery.image_set.count }} images</p>
							        		<p class="obj-desc">{{ gallery.gallery_description|truncatechars:180 }}</p>
							      		</div>
									</div>
								</div>
								

								{% cycle "" "" "</div><div class='row row-fix'>" %}
							{% endfor %}
							</div>

							<div class="pagination">
								<span class="step-links">
								{% if all_gallery.has_previous %}
									<a href="?page={{ all_gallery.previous_page_number }}">previous</a>
								{% endif %}

								<span class="current">
									Page {{ all_gallery.number }} of {{ all_gallery.paginator.num_pages }}.
								</span>

								{% if all_gallery.has_next %}
									<a href="?page={{ all_gallery.next_page_number }}">next</a>
								{% endif %}
								</span>
							</div>
						{% else %}
							<h3>No gallerys</h3>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>

{% endblock %}


  
   
      
      
    
  
