{% extends 'userProfile/base.html' %}
{% block title %}{{ user|title }} Blog Page{% endblock %}
{% block blog_active %}active{% endblock %}
{% load staticfiles %}

{% block profile_content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				{% if user.id == request.user.id %}
					<a class="btn btn-default" href="{% url 'blogs:project-add' user %}">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% include 'blog/all_projects.html' %}
		</div>
	</div>
{% endblock %}