{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Add New Gallery{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block content %}
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col-sm-12 col-md-offset-3 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" style="display: inline-block;">
							{% if formTitle %}
								{{ formTitle|title }}
								{% else %}
									Error: no title
							{% endif %}
						</h3>
					</div>
					<div class="panel-body">
						<form action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
							{{ form|crispy }}		
							<button type="submit" class="btn btn-success">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}