{% extends 'base.html' %}
{% block title %}{{ user|title }} Profile Page{% endblock %}
{% block user_active %}active{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" style="display: inline-block;">Your Profile</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<p>*** Profile pic ***</p>
					<p>Username: {{ user.username }}</p>
					<p>First Name: {% if user.first_name %}{{ user.first_name }}{% else %}none{% endif %}</p>
					<p>Last Name: {% if user.last_name %}{{ user.last_name }}{% else %}none{% endif %}</p>
					<p>Email: {{ user.email }}</p>
				</div>
				<div class="col-md-12">
					<a href="#">Change profile information?</a><br>
					<a href="{% url 'auth_password_change' %}">Change password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}